/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: black;
  height: 100vh;
  background: #E5DADA;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  width: 150px;
  height: 100px;
  box-sizing: border-box;
}

h1 {

}

.project-name-input {
  margin: 2em auto 2em;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

ul {
  border: 1px solid rgb(159, 158, 158);
  border-radius: 10px;
}

li {
  list-style: none;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 2em auto 2em;
}

.pending {
  background-color:#fedc2a;
}

.succeeded {
  background-color: #09BC8A;
}

.failed {
 background-color: #FF0035;
}

.node-basic {
  background-color: #A76D60;
}

.node-express {
  background-color: #40798C;
}

.python {
  background-color: #70A9A1;
}

.react {
  background-color: #1B9AAA;
}

.electron {
  background-color: #94778B;
}
