/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  position: relative;
  color: black;
  height: 100vh;
  background: white;
  font-family: "Merriweather", serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  width: 150px;
  height: 100px;
  box-sizing: border-box;
}

.project-name-input {
  margin: 2em auto 2em;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

ul {
  padding: 0; /* Remove default padding from the <ul> */
  margin: 0;
}

li {
  list-style: none;
  box-sizing: border-box;
  padding: 1px;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 2em auto 2em;
}

.succeeded {
  background: linear-gradient(90deg, #0f8161, #34d399, #0f8161);
  background-size: 300% 300%;
  animation: gradientAnimation 8s 11 forwards;
  color: #3A2E2E;
}

.failed {
  background: linear-gradient(90deg, #a20f2d, #f1a9b7, #a20f2d);
  background-size: 300% 300%;
  animation: gradientAnimation 8s 11 forwards;
  color: #3A2E2E;
}

/* Define the keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Start position */
  }
  50% {
    background-position: 100% 50%; /* Middle position */
  }
  100% {
    background-position: 0% 50%; /* End position */
  }
}

.node-basic {
  background-color: #A76D60;
}

.node-express {
  background-color: #40798C;
}

.python {
  background-color: #70A9A1;
}

.react {
  background-color: #1B9AAA;
}

.electron {
  background-color: #94778B;
}
